---
import CardTipeOne from "../components/CardTipeOne.astro";
import CardFile from "../components/CardFile.astro";
import FileProduct from "../layouts/FileProduct.astro";
import MainLayout from "@/layouts/MainLayout.astro";
import { type CollectionEntry } from "astro:content";
type Props = CollectionEntry<"product">["data"];
import { getCollection } from "astro:content";
const products = await getCollection("product");
---

<MainLayout title="Home">
	<section>
		{
			products
				.slice(4, 5)
				.map((product) => (
					<CardTipeOne
						{...product.data}
						slug={product.slug}
						bg="bg-gray-200"
					/>
				))
		}
		<article class="max-w-5xl mx-auto">
			<h4 class="flex items-center justify-start font-script my-4">
				Our Donuts
			</h4>
			<FileProduct title="Our Donuts">
				{
					products
						.slice(0, 3)
						.map((product) => (
							<CardFile
								{...product.data}
								slug={product.slug}
								bg="bg-blue-200"
							/>
						))
				}
			</FileProduct>
		</article>
	</section>

	<section class="my-6">
		{
			products
				.slice(3, 4)
				.map((product) => (
					<CardTipeOne
						{...product.data}
						slug={product.slug}
						bg="bg-gray-200"
					/>
				))
		}
		<article class="max-w-5xl mx-auto"></article>
	</section>
	<section>
		<article class="max-w-5xl mx-auto"></article>
	</section>
</MainLayout>
