<header class="bg-red-50 select-none flex items-center justify-between m-8 ">
    <span>Logo</span>
    <h1 class="text-center font-script text-3xl">Bakery Enchanted Example</h1>
    <span>Carrito</span>
</header>
