---
import Image from "astro/components/Image.astro";
import CartFlyoutToggle from "@/components/CartFlyoutToggle";
import CartFlyout from "./CartFlyout";

interface Props {
    rutImage: string;
    altImage: string;
}
const { rutImage, altImage } = Astro.props;
---

<header class="max-w-screen-2xl mx-auto  md:mb-8">
    <div
        class="bg-red-50 select-none flex items-center justify-between my-4 sm:mx-8"
    >
        <a href="/">
            <Image
                class="flex items-center justify-start mx-auto w-20 sm:w-32 scale-150"
                src={rutImage}
                alt={altImage}
                width={1}
                height={1}
            />
        </a>
        <h1 class="text-center font-script text-2xl sm:text-3xl md:text-4xl">
            Bakery Enchanted
        </h1>
        <CartFlyoutToggle client:load />
        
    </div>
    <CartFlyout client:load />

</header>
