---
import BaseHead from "@/components/BaseHead.astro";
import HeaderHome from "@/components/HeaderHome.astro";
interface Props {
    title: string;
}
const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
    <BaseHead title={title} />
    <HeaderHome imagePath="/src/assets/logo.jpg" altText="logo Bakery" />
    <body class="bg-red-50 select-none m-4 full-page-figure ">
        <slot />
    </body>
</html>
