---
import CardTipeOne from "../components/CardTipeOne.astro";
import CardFile from "../components/CardFile.astro";
---

<section>
    <CardTipeOne
        imagePath="/src/assets/imagen1.webp"
        altText="Imagen 1"
        name="Triple Bundle Family Trouble"
        age={19}
    />
    <article
        class="max-w-5xl mx-auto mt-4 grid grid-cols-1 md:grid-cols-3 gap-4 px-4 md:px-0"
    >
        <CardFile
            imagePath="/src/assets/creamy_nonsense.webp"
            altText="mixed_creamy"
            age={2}
            name="Mixed Delight"
            tags={["New", "Bundle"]}
            bg="bg-blue-100"
        />
        <CardFile
            imagePath="/src/assets/chocolate_dream.webp"
            altText="chocolato"
            age={8}
            name="Chocolate Dream"
            tags={["New"]}
            bg="bg-blue-100"
        />
        <CardFile
            imagePath="/src/assets/strawberry_blast.webp"
            altText="strawberry_blast"
            age={6}
            name="Strawberry Blast"
            tags={["New", "Expensive"]}
            bg="bg-blue-100"
        />
    </article>
</section>

<section class="">
    <CardTipeOne
        imagePath="/src/assets/donuts.webp"
        altText="strawberry_bg"
        name="Strawberry Massacre"
        age={1}
    />
    <article
        class="max-w-5xl mx-auto mt-4 grid grid-cols-1 md:grid-cols-3 gap-4 px-4 md:px-0"
    >
        <CardFile
            imagePath="/src/assets/strawberry_blast.webp"
            altText="strawberry_blast"
            age={6}
            name="Strawberry Blast"
            tags={["New", "Expensive"]}
            bg="bg-blue-100"
        />
        <CardFile
            imagePath="/src/assets/creamy_nonsense.webp"
            altText="mixed_creamy"
            age={2}
            name="Mixed Delight"
            tags={["New", "Bundle"]}
            bg="bg-blue-100"
        />
        <CardFile
            imagePath="/src/assets/chocolate_dream.webp"
            altText="chcolato"
            age={8}
            name="Chocolate Dream"
            tags={["New"]}
            bg="bg-blue-100"
        />
    </article>
</section>
<section>
    <article
        class="max-w-5xl mx-auto mt-4 grid grid-cols-1 md:grid-cols-3 gap-4 px-4 md:px-0"
    >
        <CardFile
            imagePath="/src/assets/strawberry_blast.webp"
            altText="strawberry_blast"
            age={6}
            name="Strawberry Blast"
            tags={["New", "Expensive"]}
            bg="bg-white"
        />

        <CardFile
            imagePath="/src/assets/chocolate_dream.webp"
            altText="chcolato"
            age={8}
            name="Chocolate Dream"
            tags={["New"]}
            bg="bg-white"
        />
        <CardFile
            imagePath="/src/assets/creamy_nonsense.webp"
            altText="mixed_creamy"
            age={2}
            name="Mixed Delight"
            tags={["New", "Bundle"]}
            bg="bg-white"
        />
        <CardFile
            imagePath="/src/assets/creamy_nonsense.webp"
            altText="mixed_creamy"
            age={2}
            name="Mixed Delight"
            tags={["New", "Bundle"]}
            bg="bg-white"
        />
    </article>
</section>
